/*
hack.uh styles
author: ruesato
version: .7

Table of Contents
* Structure
* Navigation
* Footer
* Headings
* Lists
* Links
* Decoration

*/

@import "compass_twitter_bootstrap";

// =Structure
body {
	font-family: 'Source Sans Pro', sans-serif;
	// font-size: 15px;
	// line-height: 22px;
}

.jumbo.highlight {
	background-color: whitesmoke;
}

.jumbo {
	padding: 30px 0 60px;
	margin: 0;
}

.jumbo.prime,
.jumbo.interior {
	background: darkgreen url(../images/keyboard-bit-2.png) no-repeat center right;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/keyboard-bit-2.png', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/keyboard-bit-2.png', sizingMethod='scale')";
	color: white;
	padding: 40px 0;
}

.jumbo.prime {
	text-shadow: 0 2px 3px rgba(0,0,0,.5);
}

.jumbo.interior {
	background-color: dimgray;
	padding: 10px 0;
}

#judges .row {
	margin-top: 20px;
}

// =Navigation
.navbar {
	text-transform: uppercase;
}

.navbar-inner {
	min-height: 50px;
	padding-top: 10px;
}

// =Headings
h1, h2, h3, h4, h5, h6 {
  // font-family: 'Alfa Slab One', cursive;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 200;
}

.frontpage-header a {
	color: whitesmoke;
}


//  =Images
#judges img {
	border: 2px solid #dfdfdf;
	padding: 4px;
	height: 125px;
	width: 125px;
	-moz-border-radius: 		70px;
	-webkit-border-radius: 	70px;
	border-radius: 					70px;
	transition: 400ms ease;
}

#judges img:hover {
	background-color: olivedrab;
	border-color: olive;
}

// =Links
a {
	// text-decoration: none;
	transition: 300ms ease;
}

a:hover {
	// border-bottom: 1px solid #005580;
	// text-decoration: none;
}


// =Decoration
.prime {
	text-transform: uppercase;

	.container {
		min-height: 240px;
	}

	h1 {
		font-size: 96px;
		padding-top: 100px;
	}

	h3 {
		font-size: 36px;
		line-height: 72px;
		font-weight: 400;

		.light {
			font-weight: 200;
		}

	}

}

#judges {
	.row {
		margin-bottom: 40px;
	}
	h3 {
		line-height: 20px;
		margin-top: 20px;
	}
}

.event {
	clear: both;
	float: left;
	margin-bottom: 30px;

	.date {
		background-color: olivedrab;
		color: white;
		float: left;
		padding: 6px 10px 12px;
		min-width: 40px;
		-moz-border-radius: 		3px;
		-webkit-border-radius: 	3px;
		border-radius: 					3px;
	}
	.description {
		float: left;
		padding-left: 20px;
	}

	.month {
		float: left;
		text-transform: uppercase;
	}

	.day {
		clear: left;
		float: left;
		font-size: 24px;
		font-weight: 700;
		text-align: right;
	}

	h4 {
		margin: 0;
	}

	p {
		margin: 0;
	}
}

#sponsors {
	.row {}

	img {
		// margin-left: 20px;
		margin-bottom: 20px;
		width: 216px;
	}

	a {
		margin-left: 20px;
	}

	a:nth-child(5n+1) {
		margin-left: 0;
	}

	h4 + a
	{
		margin-left: 0;
	}
}

h4 > p {
	line-height: 26px;
}

@import "main_responsive";