<div class="jumbo interior">
	<div class="container">
    <h1>FAQ</h1>
  </div>
</div>

<div class="jumbo">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h2>What is Hack UH - Get Your Hack On?</h2>
        <h4>
          <p>Get Your Hack On is happening May 13-15 at the University of Hawaii at Manoa. Students who are interested in web programming, graphic design, software and technology development are invited to participate. Registration is limited to students of the UH system campuses.</p>
          <p>Similar to "Startup Weekend Honolulu" and "City Camp," there will be outside judges from startups, and prizes. This is part of a series of workshops to help ready oneself to create a software application within ~50 hours. We will also be hosting a series of events to help the students prepare for the actual competition.</p>
          <p>Leading up to the main event is a twice-weekly series of workshops, talks, and hangouts, led by experts from the UH system, Hawaii's tech sectors, and by the group's own members. The activities range from informal peer learning sessions to expert-driven seminars on a wide range of topics. Subjects for talks include Hawaii open data, local startup culture and the tech sector. Workshops focus on graphic design, web programming and system administration.</p>
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <h2>How do I participate?</h2>
        <h4>If you are a student of the UH system campuses, you can register to participate <a ng-href="http://www.hackathon.io/hack100">here</a>.</h4>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <h2>How do I become a sponsor?</h2>
        <h4>Contact ???</h4>
      </div>
    </div>
  </div>
</div>