<div class="jumbo interior">
	<div class="container">
    <h1>FAQ</h1>
  </div>
</div>

<div class="jumbo">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h2>What is Hack.UH - Get Your Hack On?</h2>
        <h4>
          <p>
            Get Your Hack On is happening May 13-15 at the University of Hawaii at Manoa. Students who are interested in web programming, graphic design, software, and technology development, are invited to participate. 
          </p>
          <p>
            Similar to "Startup Weekend Honolulu" and "City Camp," there will be judges from local startups, and prizes. We are also hosting a series of workshops to help ready participants to create a software application within ~50 hours, to help the students prepare for the actual competition.
          </p>
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <h2>How do I participate?</h2>
        <h4><p>
          If you are a student of the UH system campuses, you can register to participate <a ng-href="http://www.hackathon.io/hack100">here</a>. The University of Hawaii and HI Capacity events are free and open to all students of the UH system. 
        </p></h4>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <h2>How do I become a sponsor?</h2>
        <h4><p>
          Contact <a href="mailto:james@hicapacity.org">James</a> at HI Capacity.
        </p></h4>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <h2>What can I expect from the meetups happening before the hackathon?</h2>
        <h4><p>
          Leading up to the main event is a twice-weekly series of workshops, talks, and hangouts, led by experts from the UH system, Hawaii's tech sector, and by the group's own members. The activities range from informal peer learning sessions to expert-driven seminars on a wide range of topics. Subjects for talks include Hawaii open data, local startup culture and the tech sector. Workshops focus on graphic design, web programming and rapid development.
        </p></h4>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <h2>Do I have to have a totally finished product for judgement?</h2>
        <h4><p>
          Not necessarily, though it would be cool to see. While the judging criteria are technical, the judges are interested in seeing that your work has a good "end-to-end" quality, or, in other words, that your project is on the right trajectory towards completion. You should work toward a good functioning prototype, and build on it if you are able to complete one.
        </p></h4>
      </div>
    </div>
  </div>
</div>