<div class="jumbo prime frontpage-header">
  <div class="container">
    <h1>Get Your Hack On</h1>
    <h3>Hack.UH <span class="light">2013</span></h3>
    <h4>10:00AM May 13 2013 --> 9:00PM May 15, 2013</h4>
    <h5><a href="http://goo.gl/maps/QwH1n" target="_blank">1680 East West Rd Hon, HI 96822</a></h5>
    <h5><a href="http://goo.gl/maps/6f50E" target="_blank">Pacific Ocean Science and Technology (POST) building room 318</a></h5>
  </div>
</div>

<!-- about -->
<a name="about" class="nav-anchor"></a>
<div class="jumbo">
  <div class="container">
    <div id="about" class="row">
      <div class="span4">
        <img src="http://placekitten.com/300/200" alt="">
        <h1>About</h1>
        <p>
          Like <a ng-href="http://honolulu.startupweekend.org/" target="_blank">Startup Weekend Honolulu</a> and <a ng-href="http://citycamphnl.govfresh.com/" target="_blank">City Camp</a>, this competition will focus on pitching ideas, forming teams, and building a software application in under 50 hours. The entries will be judged by software industry professionals, and prizes will be awarded. 
        </p>
      </div>
      <div class="span4">
        <img src="http://placehold.it/300x200" alt="">
        <h1>Get Ready</h1>
        <p>
          We will be hosting weekly workshops on Tuesday and Thursday of each week (see <a ng-href="/#schedule">schedule</a> below) leading up to the start of the hackathon (May 13th). The topic of each workshop may vary from technology tutorials, to structured presentations from select speakers.
        </p>
        <p>
         For questions like "How do I participate?" see the <a ng-href="/faq">FAQ</a>.
        </p>
      </div>
      <div class="span4">
        <img src="http://placekitten.com/300/200" alt="">
        <h1>Compete</h1>
        <p>
          Come down > Hear Ideas > Form Teams > HACK!!!
        </p>
        <h3>
          Register <a ng-href="https://www.hackerleague.org/hackathons/hack-uh-get-your-hack-on" target="_blank">here</a>
        </h3>
      </div>
    </div>
  </div>
</div>


<!-- sponsors -->
<a name="sponsors" class="nav-anchor"></a>
<div class="jumbo highlight">
  <div class="container">
    <div id="sponsors" class="row">
      <div class="span12">
        <h1>Sponsors</h1>
          <div class="row">
            <div class="span12">
              <h4>Platinum</h4>
              <a href="#"><img src="http://placekitten.com/220/70" alt=""></a>
              <a href="#"><img src="http://placedog.com/220/70" alt=""></a>
            </div>
          </div>
          <div class="row">
            <div class="span12">
              <h4>Gold</h4>
              <a href="#"><img src="http://placekitten.com/220/70" alt=""></a>
              <a href="#"><img src="http://placedog.com/220/70" alt=""></a>
              <a href="#"><img src="http://placedog.com/220/70" alt=""></a>
              <a href="#"><img src="http://placekitten.com/220/70" alt=""></a>
              <a href="#"><img src="http://placedog.com/220/70" alt=""></a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<!-- judges -->
<a name="judges" class="nav-anchor"></a>
<div class="jumbo">
  <div class="container">
    <div id="judges" class="row">
      <div class="span12">
        <h1>Judges</h1>
        <div class="row">
          <div class="span2">
            <img src="http://placedog.com/g/140/140" alt="">
          </div>
          <div class="span10">
            <h3>Judge One One</h3>
            Sartorial plaid selvage, whatever 8-bit fanny pack mlkshk occupy. Butcher retro shoreditch, plaid intelligentsia swag chillwave. Umami truffaut tattooed, next level williamsburg banh mi keffiyeh chillwave master cleanse chambray iphone. Fanny pack brunch organic flannel dreamcatcher stumptown, ethical cliche banh mi tofu kale chips irony.
          </div>
        </div>
        <div class="row">
          <div class="span2">
            <img src="http://placekitten.com/g/140/140" alt="">
          </div>
          <div class="span10">
            <h3>Judge 2</h3>
            Helvetica wolf lomo, selvage occupy dreamcatcher mustache meggings messenger bag 8-bit. Jean shorts portland tousled, neutra high life salvia organic artisan DIY direct trade flannel american apparel. Meh lo-fi occupy messenger bag sriracha forage.
          </div>
        </div>
        <div class="row">
          <div class="span2">
            <img src="http://placedog.com/g/140/140" alt="">
          </div>
          <div class="span10">
            <h3>Judge Three</h3>
            Vegan salvia intelligentsia shoreditch, banjo flannel bushwick next level bespoke american apparel echo park wes anderson polaroid helvetica. Semiotics brunch synth cray single-origin coffee. Marfa tattooed synth, cred fap etsy mcsweeney's direct trade gentrify master cleanse
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- schedule -->
<a name="schedule" class="nav-anchor"></a>
<div class="jumbo highlight">
  <div class="container">
    <div id="schedule" class="row">
      <div class="span12">
        <h1>Schedule</h1>

        <div class="event">
          <div class="date">
            <span class="month">Apr</span>
            <span class="day">11</span>
          </div>
          <div class="description">
            <h4><a ng-href="http://hackuh-2013-event0.eventbrite.com/" target="_blank"><img src="images/EB_AB_Logo_solo.png" alt="Eventbrite Hack UH - Kickoff" /></a> Hack UH Kickoff </h4>
            <p>Guest Speaker: Burt Lum</p>
            <p>The Startup Society is so far comprised of seventeen members, and Thursday is our official kickoff.</p>
          </div>
        </div>

        <div class="event">
          <div class="date">
            <span class="month">April</span>
            <span class="day">16</span>
          </div>
          <div class="description">
            <h4><a ng-href="http://hackuh-2013-event1.eventbrite.com/" target="_blank"><img src="images/EB_AB_Logo_solo.png" alt="Eventbrite Hack UH - Kickoff" /></a> Frontend Talk</h4>
            <p>Leader: James Wang</p>
            <p>This Tuesday we dive into the front end.</p>
          </div>
        </div>

        <div class="event">
          <div class="date">
            <span class="month">April</span>
            <span class="day">18</span>
          </div>
          <div class="description">
            <h4><a ng-href="http://hackuh-2013-event2.eventbrite.com/" target="_blank"><img src="images/EB_AB_Logo_solo.png" alt="Eventbrite Hack UH - Kickoff" /></a> TBD</h4>
            <p>Dan Suthers?</p>
            <p>Thursday's guest speaker is TBD, but I'd like to have Dan Suthers in to chat. Or perhaps an introduction to a dynamic language.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>