<div class="jumbo prime frontpage-header">
  <div class="container">
    <h1>Get Your Hack On</h1>
    <h3>Hack.UH <span class="light">2013</span></h3>
    <h4>10:00AM May 13, 2013 --> 9:00PM May 15, 2013</h4>
    <h5><a href="http://goo.gl/maps/QwH1n" target="_blank">1680 East West Rd Hon, HI 96822</a></h5>
    <h5><a href="http://goo.gl/maps/6f50E" target="_blank">Pacific Ocean Science and Technology (POST) building room 302</a></h5>
  </div>
</div>

<!-- about -->
<a name="about" class="nav-anchor"></a>
<div class="jumbo">
  <div class="container">
    <div id="about" class="row">
      <div class="span4">
        <img src="images/about2.gif" width="300" height="200" alt="">
        <h1>About</h1>
          <p>
            It's hackening! The University of Hawaii's and our beloved sponsors are ramping up to Summer 2013 with a hackathon, May 13-15, when the students of the UH systems will convene, collaborate, and manifest the real Big Ideas--or fail gloriously in trying.
          </p> 
          <p>
            Like <a ng-href="http://honolulu.startupweekend.org/" target="_blank">Startup Weekend Honolulu</a> and <a ng-href="http://citycamphnl.govfresh.com/" target="_blank">City Camp</a>, this competition will focus on pitching ideas, forming teams, and building a software application in under 50 hours. The entries will be judged by software industry professionals, and prizes will be awarded.
          </p>
      </div>
      <div class="span4">
        <img src="images/getready2.jpg" alt="">
        <h1>Get Ready</h1>
        <p>
          We will be hosting weekly workshops on Wednesday of each week (see <a ng-href="/#schedule">schedule</a> below) leading up to the start of the hackathon (May 13th). The topic of each workshop may vary from technology tutorials, to structured presentations from select speakers. Top technologists, educators and business leaders have volunteered not only as judges in the main event, but also as capacity-building mentors to all student-participants. 
        </p>
        <p>
         For questions like "How do I participate?" see the <a ng-href="/faq">FAQ</a>.
        </p>
      </div>
      <div class="span4">
        <img src="images/hackers2.jpg" alt="">
        <h1>Compete</h1>
        <p>
          Come down --> Hear Ideas --> Form Teams --> HACK!!!
        </p>
        <h3>
          Register <a ng-href="https://www.hackerleague.org/hackathons/hack-uh-get-your-hack-on" target="_blank">here</a>
        </h3>
      </div>
    </div>
  </div>
</div>


<!-- sponsors -->
<a name="sponsors" class="nav-anchor"></a>
<div class="jumbo highlight">
  <div class="container">
    <div id="sponsors" class="row">
      <div class="span12">
        <h1>Sponsors</h1>
          <div class="row">
            <div class="span12">
              <h4>Platinum</h4>
              <a ng-href="http://manoa.hawaii.edu/" target="_blank"><img src="images/uhm-logo-220-70.jpg" alt="University of Hawaii at Manoa" /></a>
              <a ng-href="http://hicapacity.org/" target="_blank"><img src="images/hicap_logo_220-70.jpg" alt="HI Capacity" /></a>
            </div>
          </div>
          <!--
          <div class="row">
            <div class="span12">
              <h4>Gold</h4>
              <a href="#"><img src="http://placekitten.com/220/70" alt=""></a>
              <a href="#"><img src="http://placedog.com/220/70" alt=""></a>
              <a href="#"><img src="http://placedog.com/220/70" alt=""></a>
              <a href="#"><img src="http://placekitten.com/220/70" alt=""></a>
              <a href="#"><img src="http://placedog.com/220/70" alt=""></a>
            </div>
          </div>
          -->
      </div>
    </div>
  </div>
</div>

<!-- judges -->
<a name="judges" class="nav-anchor"></a>
<div class="jumbo">
  <div class="container">
    <div id="judges" class="row">
      <div class="span12">
        <h1>Judges</h1>
        <div class="row">
          <div class="span2">
            <img src="images/james-140.jpg" alt="">
          </div>
          <div class="span10">
            <h3>Judge One</h3>
            <a href="https://github.com/wangbus" alt="on Github">James Wang</a> is the organizer of the hackathon, an alumni of the UH Information &amp; Computer Science Program, and an all-around akamai dude. Presently, he works as an applications developer for <a href="http://www.splashtop.com/home">Splashtop</a> and helps run the <a href="http://hicapacity.org/">HI Capacity</a> hackerspace. 
          </div>
        </div>
        <div class="row">
          <div class="span2">
            <img src="http://placekitten.com/g/140/140" alt="">
          </div>
          <div class="span10">
            <h3>Judge Two</h3>
            Our mystery judge will be announced on the last day of the hackathon challenge.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- schedule -->
<a name="schedule" class="nav-anchor"></a>
<div class="jumbo highlight">
  <div class="container">
    <div id="schedule" class="row">
      <div class="span12">
        <h1>Schedule</h1>

        <div class="event">
          <div class="date">
            <span class="month">Apr</span>
            <span class="day">11</span>
          </div>
          <div class="description">
            <h4><a ng-href="http://hackuh-2013-event0.eventbrite.com/" target="_blank"><img src="images/EB_AB_Logo_solo.png" alt="Eventbrite Hack UH - Kickoff" /></a> Hack UH Kickoff </h4>
            <p>Guest Speaker: Burt Lum</p>
            <p>Our group is so far comprised of twenty-three members, and Thursday is our official kickoff.</p>
          </div>
        </div>

        <div class="event">
          <div class="date">
            <span class="month">April</span>
            <span class="day">23</span>
          </div>
          <div class="description">
            <h4> Front-end Talk</h4>
            <p>Speakers: James Wang</p>
            <p>We take a deep dive into the front end, exploring JavaScript, Processing, Jquery and Node.js.</p>
          </div>
        </div>


        <div class="event">
          <div class="date">
            <span class="month">April</span>
            <span class="day">25</span>
          </div>
          <div class="description">
            <h4> The Mobile Web</h4>
            <p>Speakers: Kyle Oba</p>
            <p>Kyle, the founder of Pas de Chocolat, will be sharing his perspective on mobile technologies and web development, and presenting lesser-known technologies that might just bring you overnight success. Just as importantly: they're really, really fun.</p>
          </div>
        </div>


        <div class="event">
          <div class="date">
            <span class="month">April</span>
            <span class="day">30</span>
          </div>
          <div class="description">
            <h4>STEM Ignite talks</h4>
            <p>Our Own Members</p>
            <p>The members lead talks on subjects of their own interests. STEM Ignite talks are 5-minute talks, each with 60 slides, at 15 seconds per slide. This format makes for a fun and varied set of topics.</p>
          </div>
        </div>


        <div class="event">
          <div class="date">
            <span class="month">May</span>
            <span class="day">2</span>
          </div>
          <div class="description">
            <h4><a ng-href="http://hackuh-2013-event2.eventbrite.com/" target="_blank"><img src="images/EB_AB_Logo_solo.png" alt="Eventbrite Hack UH - Kickoff" /></a> The Social Web</h4>
            <p>Dr. Dan Suthers</p>
            <p>Our guest speaker is Prof. Dan Suthers, in to chat about the mobile web, the social graph, and how the related technologies have changed the world in unseen ways.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>