<div class="jumbo prime">
  <div class="container">
    <h1>Get Your Hack On</h1>
    <h3>Hack.UH <span class="light">2013</span></h3>
    <h4>10:00AM April ??, 2013 --> 8PM April ?!, 2013</h4>
    <h4>Some Location on the UH Campus</h4>
  </div>
</div>

<!-- about -->
<a name="about" class="nav-anchor"></a>
<div class="jumbo">
  <div class="container">
    <div id="about" class="row">
      <div class="span4">
        <h1>About What</h1>
        <p>Truffaut squid cosby sweater typewriter mcsweeney's. Pork belly hella small batch DIY bespoke mumblecore keffiyeh, dreamcatcher master cleanse. Blog tofu before they sold out art party, carles locavore selfies try-hard photo booth Austin.</p>
      </div>
      <div class="span4">
        <h1>More Details</h1>
        Odd future selvage pickled, brunch flannel salvia cray mustache chambray pinterest shoreditch cosby sweater blog williamsburg. Retro seitan ugh vice mcsweeney's messenger bag, chambray salvia blue bottle stumptown readymade american apparel organic.
      </div>
      <div class="span4">
        <h1>What Next?</h1>
         Mumblecore fingerstache brooklyn butcher umami, actually 3 wolf moon echo park swag. Church-key pickled banjo pinterest.
      </div>
    </div>
  </div>
</div>


<!-- sponsors -->
<a name="sponsors" class="nav-anchor"></a>
<div class="jumbo highlight">
  <div class="container">
    <div id="sponsors" class="row">
      <div class="span12">
        <h1>Sponsors</h1>
          <div class="row">
            <div class="span12">
              <h4>Platinum</h4>
              <a href="#"><img src="http://placekitten.com/220/70" alt=""></a>
              <a href="#"><img src="http://placedog.com/220/70" alt=""></a>
            </div>
          </div>
          <div class="row">
            <div class="span12">
              <h4>Gold</h4>
              <a href="#"><img src="http://placekitten.com/220/70" alt=""></a>
              <a href="#"><img src="http://placedog.com/220/70" alt=""></a>
              <a href="#"><img src="http://placedog.com/220/70" alt=""></a>
              <a href="#"><img src="http://placekitten.com/220/70" alt=""></a>
              <a href="#"><img src="http://placedog.com/220/70" alt=""></a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<!-- judges -->
<a name="judges" class="nav-anchor"></a>
<div class="jumbo">
  <div class="container">
    <div id="judges" class="row">
      <div class="span12">
        <h1>Judges</h1>
        <div class="row">
          <div class="span2">
            <img src="http://placedog.com/g/140/140" alt="">
          </div>
          <div class="span10">
            <h3>Judge One One</h3>
            Sartorial plaid selvage, whatever 8-bit fanny pack mlkshk occupy. Butcher retro shoreditch, plaid intelligentsia swag chillwave. Umami truffaut tattooed, next level williamsburg banh mi keffiyeh chillwave master cleanse chambray iphone. Fanny pack brunch organic flannel dreamcatcher stumptown, ethical cliche banh mi tofu kale chips irony.
          </div>
        </div>
        <div class="row">
          <div class="span2">
            <img src="http://placekitten.com/g/140/140" alt="">
          </div>
          <div class="span10">
            <h3>Judge 2</h3>
            Helvetica wolf lomo, selvage occupy dreamcatcher mustache meggings messenger bag 8-bit. Jean shorts portland tousled, neutra high life salvia organic artisan DIY direct trade flannel american apparel. Meh lo-fi occupy messenger bag sriracha forage.
          </div>
        </div>
        <div class="row">
          <div class="span2">
            <img src="http://placedog.com/g/140/140" alt="">
          </div>
          <div class="span10">
            <h3>Judge Three</h3>
            Vegan salvia intelligentsia shoreditch, banjo flannel bushwick next level bespoke american apparel echo park wes anderson polaroid helvetica. Semiotics brunch synth cray single-origin coffee. Marfa tattooed synth, cred fap etsy mcsweeney's direct trade gentrify master cleanse
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- schedule -->
<a name="schedule" class="nav-anchor"></a>
<div class="jumbo highlight">
  <div class="container">
    <div id="schedule" class="row">
      <div class="span12">
        <h1>Schedule</h1>

        <div class="event">
          <div class="date">
            <span class="month">Apr</span>
            <span class="day">11</span>
          </div>
          <div class="description">
            <h4><a ng-href="http://www.eventbrite.com/event/6147741059?ref=ebtn" target="_blank"><img src="images/EB_AB_Logo_solo.png" alt="Eventbrite Hack UH - Kickoff" /></a> Hack UH Kickoff </h4>
            <p>Guest Speaker: Burt Lum</p>
            <p>The Startup Society is so far comprised of seventeen members, and Thursday is our official kickoff.</p>
          </div>
        </div>

        <div class="event">
          <div class="date">
            <span class="month">April</span>
            <span class="day">16</span>
          </div>
          <div class="description">
            <h4><a ng-href="http://www.eventbrite.com/event/6147741059?ref=ebtn" target="_blank"><img src="images/EB_AB_Logo_solo.png" alt="Eventbrite Hack UH - Kickoff" /></a> Frontend Talk</h4>
            <p>Leader: James Wang</p>
            <p>This Tuesday we dive into the front end.</p>
          </div>
        </div>

        <div class="event">
          <div class="date">
            <span class="month">April</span>
            <span class="day">18</span>
          </div>
          <div class="description">
            <h4><a ng-href="http://www.eventbrite.com/event/6147741059?ref=ebtn" target="_blank"><img src="images/EB_AB_Logo_solo.png" alt="Eventbrite Hack UH - Kickoff" /></a> TBD</h4>
            <p>Dan Suthers?</p>
            <p>Thursday's guest speaker is TBD, but I'd like to have Dan Suthers in to chat. Or perhaps an introduction to a dynamic language.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>