<div id="navbar" class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" ng-href="/">Hack UH</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a ng-href="/">Home</a></li>
          <li><a ng-href="/#about">About</a></li>
          <li><a ng-href="/#sponsors">Sponsors</a></li>
          <li><a ng-href="/#judges">Judges</a></li>
          <li><a ng-href="/#schedule">Schedule</a></li>
          <li><a ng-href="/faq">FAQ</a></li>
          <li><a ng-href="/join">Join</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>